body {
    padding: 1em;
    font-family: sans-serif;
}
table {
    border-collapse: collapse;
}
th {
    text-align: left;
}
thead th,
thead td {
    background: #F9F9F9;
}
th, td {
    border: 1px solid #DDD;
    padding: 0.5em;
}
